CONFIG_TOOLCHAIN=gnu
CONFIG_CXX=g++
CONFIG_CXXFLAGS=-Wall -std=c++17 -DNDEBUG -flto -fomit-frame-pointer -fno-common -fdata-sections -ffunction-sections -O3
CONFIG_LDFLAGS=-flto -fuse-linker-plugin -fomit-frame-pointer -fno-common -O3 -march=native -static -s -Xlinker --as-needed -Xlinker -O1 -Xlinker --gc-sections -Xlinker --sort-common -Xlinker --strip-all -Xlinker --relax
